:root {
  --background-primary-color: #2f303a;
  --background-secondary-color: #f5f4fa;
  --brand-color: #2196f3;
  --white-color: #fff;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  cursor: pointer;
}

/* ============= HEADER ============== */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: inherit;
}

.brand-color {
  color: var(--brand-color);
}

.nav-menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-link {
  color: var(--text-secondary-color);
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.current {
  color: var(--brand-color);
}

/* ============= HERO ============== */

.hero {
  background-color: var(--background-primary-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--brand-color);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* ============= SKILLS ============== */

.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.skills-content {
  font-size: 14px;
  line-height: 1.87;
  color: var(--text-secondary-color);
}

/* ============= ABOUT ============== */

.about-title,
.teams-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

/* ============= TEAMS ============== */

.teams-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-primary-color);
}

.teams-subtitle {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-secondary-color);
}

/* ========== FOOTER ==============*/

.footer {
  background-color: var(--background-primary-color);
}

.footer-logo {
  color: var(--white-color);
}

.footer-contact-link {
  font-style: normal;
  line-height: 1.71;

  color: var(--text-secondary-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--brand-color);
}

.street {
  color: var(--white-color);
}

/* PORTFOLIO */

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: inherit;
  background-color: var(--background-secondary-color);
  border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.portfolio-img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.87;
  color: var(--text-primary-color);
}

.portfolio-img-content {
  font-size: 16px;

  line-height: 1.87;
  color: var(--text-secondary-color);
}
